body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 49%;
}

#container div {
    margin: 0 2%;
    width: 46%;
}

#grayscale {
    filter: grayscale(100%);
}

#sepia {
    filter: sepia(100%);
}

#saturate {
    filter: saturate(50%);
}

#hue-rotate {
    filter: hue-rotate(100deg);
}

#invert {
    filter: invert(100%);
}

#contrast {
    filter: contrast(50%);
}