#container {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    margin: 3px;
    border: 1px solid;
}

#circle {
    width: 200px;
    height: 200px;
    background: radial-gradient(aqua, dodgerblue);
}

#elipse {
    width: 400px;
    height: 200px;
    background: radial-gradient(aqua, dodgerblue);
}

#angle {
    width: 300px;
    height: 150px;
    background: radial-gradient(circle at 20px 30px, aqua, dodgerblue 10%);
}

#center {
    width: 300px;
    height: 150px;
    background: radial-gradient(circle, black 5%, white 15%, white 20%, green 25%);
}