body {
    background-color: #f8f8f8;
}

form {
    width: 320px;
    height: 320px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

input {
    height: 35px;
    padding-left: 5px;
}

input,
button {
    width: 100%;
    font-size: 18px;
    border: solid 1px #ccc;
}

button {
    background-color: #1cbc11;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #14a20a;
}