main {
    display: grid;
    grid-template-columns: minmax(40px, auto) minmax(40px, auto);
    grid-template-rows: minmax(60px, auto) minmax(60px, auto) minmax(60px, auto);
}

@media all {
    div {
        border: 1px solid;
        padding: 5px;
        text-align: justify;
    }
}

@media screen {
    body {
        font-family: sans-serif;
    }
}

@media print {
    body {
        width: minmax(800px, 1280px);
        height: minmax(600px, 720px);
    }
}