#container {
    display: flex;
    align-items: center;
}

#sm {
    font-size: small;
}

#xl {
    font-size: x-large;
}

a,
button {
    padding: 1em 2em;
    border-radius: 1em;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serifs;
    text-decoration: none;
    background: lightgray;
    color: black;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}